
[Desktop Entry]
Name=Distort
Exec=/usr/libexec/xscreensaver/distort -root
TryExec=/usr/libexec/xscreensaver/distort
Comment=Wandering lenses distort the screen image in various ways. Written by Jonas Munsin.
