
[Desktop Entry]
Name=Juggler 3D
Exec=/usr/libexec/xscreensaver/juggler3d -root
TryExec=/usr/libexec/xscreensaver/juggler3d
Comment=A 3D juggling stick-man, with Cambridge juggling pattern notation used to describe the patterns he juggles. https://en.wikipedia.org/wiki/Siteswap Written by Tim Auckland and Jamie Zawinski.
