
[Desktop Entry]
Name=Starfish
Exec=/usr/libexec/xscreensaver/starfish -root
TryExec=/usr/libexec/xscreensaver/starfish
Comment=Undulating, throbbing, star-like patterns pulsate, rotate, and turn inside out. Another display mode uses these shapes to lay down a field of colors, which are then cycled. The motion is very organic. Written by Jamie Zawinski.
